<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> <%= title %> </title>
	<link rel='stylesheet' href='/style.css' />
</head>
<body>
	<h1> <%= heading %> </h1>
	<p> <%= something %> </p>
    
    
Патерн - це якесь дуже гарне загальне рішення якоїсь часто зустрічаємої загальної задачі.</br></br>
Чому так треба знати патерни?</br>
1.Це тіпа одобрені рішення.</br>
2.Можуть бути легко перевикористані.</br>
3.Патерни - це щось впечатляюще, чи об"ясняюще, в общем не можу толком зрозуміти.</br></br>
Далі йде багато якоїсь псевдонаукової бредотини.</br></br>
Потім розказується що дуже погано забруднювати глобальне пространство, використовувати eval(), змінювати Object прототип, використовувати document.write.</br>
Ще кажуть, якщо ми зможемо розпізнавати антипатерни, то ми зможемо писати програми якісніше. Ніколи не здогадався б.</br></br>

Патерни поділяються на:</br>
- для створення чогось;</br>
- структура для чогось, упс, не вгадав, кажуть взаємодія між об"єктами , щоб можна було змінювати
одну частину системи, не чіпаючи інших.</br>
- та ті що толі роблять , толі відповідають за чиюсь поведінку, пардон кажуть що допомогають взаємодії між об"єктами, тільки тут обєкти "диспарат". </br>
Не зовсім зрозумів, в чому різниця від пункту другого. Поки буду вважати, що це другий пункт для маленьких хреновосумісних об"єктів. Хоча ні скоріше це другий пункт де об"єкти рухаються.</br></br>
Далі купа категорій патернів.</br>

Так , а тепер я розкажу, що таке насправді патерни.</br>
Патерни, це коли ти вчишь-вчишь мову програмування, ніби то щось вивчив, досить непогано вирішуєшь різні навчальні задачки, а потім, </br>
коли починаєшь шукати роботу, "професіональні" програмісти тебе посилають дуже далеко. Бо вони не винаходять "велосипеди", а користуються </br>
готовими шматками коду, які називаються - "дізайн паттернс" або ОДД, а у нутрощах ООД десь ще є ООП. Насправді, є ще такі , що винаходять "велосипеди",</br>
але такі хлопці спочатку виступають на світових олімпіадах, а потім йдуть робити в яндекс та гугл. Але мені в 28 років вже пізно вигравати </br>
олімпіади, тому буду мудохаться з патернами. </br>



</body>
</html>